<div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">Availables appointments</h1>

    <div class="flex flex-wrap -mx-4">
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-4 px-4" *ngFor="let appoint of appointments">
        <div class="max-w-md mx-auto bg-white rounded-md overflow-hidden shadow-md">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">{{ appoint.doctor?.name }}</h3>
  
            <p class="text-gray-600 mb-2">Jour du rendez-vous : {{appoint.date }}</p>
  
            <p class="text-gray-600 mb-2">Heure du rendez-vous : {{ appoint.time }}</p>
  
            <p class="text-blue-500 font-semibold mb-2">{{ appoint.doctor?.specialty }}</p>
  
            <p class="text-green-500 font-semibold mb-4">
              {{ appoint.available ? 'Disponible' : 'Non disponible' }}
            </p>
  
            <button (click)="addUserAppointment(appoint)" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">
              Réservez le rendez-vous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  